SERVER_PORT=3333
POSTGRES_URI="postgres://postgres:postgres@postgres:5432/gostore?sslmode=disable"

# "panic" / "fatal" / "error" / "warn" / "info" / "debug" / "trace"
LOG_LEVEL=info

ACCESS_TOKEN_KEY=youAccessTokenKey
REFRESH_TOKEN_KEY=youRefreshTokenKey
ACCESS_TOKEN_DURATION=0m
REFRESH_TOKEN_DURATION=0h

CLOUDINARY_CLOUD_NAME=yourCloudName
CLOUDINARY_API_KEY=yourApiKey
CLOUDINARY_API_SECRET=yourSecretKey
CLOUDINARY_UPLOAD_FOLDER=yourUploadFolder
